.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    /* max-width: calc(var(--main-width) + var(--gap) * 2); */
    width: 90%;
    margin: auto;
    padding: var(--gap);


}

.page-header {
    margin-bottom: 24px
}

.page-header h1 {
    font-size: 40px
}

.pagination {
    display: flex
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 16px
}

.pagination .next {
    margin-inline-start: auto
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 40px
}

.social-icons a:hover {
    color: #f88f01;
    transition: 0.7s;
}

.social-icons a svg {
    height: 40px;
    width: 40px;
}

code {
    direction: ltr
}