{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    
    <!-- <header class="entry-header">
        <h2>{{- .Title | markdownify }}</h2>
    </header>
    <section class="entry-content">
        <p>{{- .Content | markdownify }}</p>
    </section> -->

        <div class="content-wrap">

            <div class="content">

                <img src="https://elvisfinol-website-bucket.s3.eu-west-1.amazonaws.com/PhotoRoom_20210904_223415.PNG" alt="" srcset="">
                <h1>Hello.</h1>
                <h2>My name is <span class="link-1">Elvis Finol</span></h2> 
                <!-- <p>Llevo +5 años trabajando en el área de Sistemas. Soy un apasionado por las nuevas tecnologias. Tengo la curiosidad de investigar y la disciplina de estudiar constantemente. Disfruto mucho del proceso de crear y generar valor. </p> -->
                <!-- <p>Get in touch: <a class="link-2" href="mailto:e.finol7@gmail.com">e.finol7@gmail.com</a></p> -->
                <!-- <p><a class="link-2" href="posts">Mirar Blog!</a></p> -->
                <!-- <h3>System Engineer with exposure to a wide variety of environments and a diversity of challenges.</h3> -->
                <p>Datacenter Infrastructure, Networking | Public Cloud - AWS | Data Warehousing - Teradata | Web Development</p>                
                <div class="location">
                    <p>Location: Madrid, Spain📍</p>
                </div>
                <br>

                <button class="big-button">
                    <a href="https://drive.google.com/file/d/1lguS-WnrgtZAHIGkgZXsZIsCKbzS9rZI/view?usp=sharing" target="_blank">Download CV</a>
                </button>
            </div>
        </div>



    <footer class="entry-footer">
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
    </footer>
</article>
{{- end}}
