{{- with $.Site.Params.homeInfoParams }}
<article class="first-entry home-info">
    
    <!-- <header class="entry-header">
        <h2>{{- .Title | markdownify }}</h2>
    </header>
    <section class="entry-content">
        <p>{{- .Content | markdownify }}</p>
    </section> -->

            <div class="content-wrap">

            <div class="content">
                <!-- TITLE -->
                <h1>¡Hola!👋</h1>

                <h2>Mi nombre es <span class="link-1">Elvis Finol.</span></h2>
                    
                <!-- DESCRIPTION -->
                <p>Llevo +5 años trabajando en el área de Sistemas. Soy un apasionado por las nuevas tecnologias. Tengo la curiosidad de investigar y la disciplina de estudiar constantemente. Disfruto mucho del proceso de crear y generar valor. </p>
                <!-- <p>Get in touch: <a class="link-2" href="mailto:e.finol7@gmail.com">e.finol7@gmail.com</a></p> -->
                <!-- <p><a class="link-2" href="posts">Mirar Blog!</a></p> -->
                <p>Actualmente me encuentro viviendo en Mendoza, Argentina📍</p>
                <br>
                <button class="big-button">
                    <a href="https://www.dropbox.com/s/q8lpuxhaqeu4wfn/Elvis%20Enrique%20Finol%20Arrieta%20-%20Resum%C3%A9.pdf?dl=0" target="_blank">Descargar Resumé</a>
                </button>
            </div>
        </div>



    <footer class="entry-footer">
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
    </footer>
</article>
{{- end}}
