<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        <!-- {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}} -->
        <!-- <h1>{{- .title | default $.Site.Title | markdownify -}} 👋</h1> -->

        <!-- Lines added by me! -->

        <div id="particles-js"></div>
        <div class="content-wrap">

            <div class="content">
                <!-- TITLE -->
                <h1>¡Hola!👋</h1>

                <h2>Mi nombre es <span class="link-1">Elvis Finol.</span></h2>
                    
                <!-- DESCRIPTION -->
                <p>Llevo +5 años trabajando en el área de Sistemas. Soy un apasionado por las nuevas tecnologias. Tengo la curiosidad de investigar y la disciplina de estudiar constantemente. Disfruto mucho del proceso de crear y generar valor. </p>
                <!-- <p>Get in touch: <a class="link-2" href="mailto:e.finol7@gmail.com">e.finol7@gmail.com</a></p> -->
                <!-- <p><a class="link-2" href="posts">Mirar Blog!</a></p> -->
                <p>Actualmente me encuentro viviendo en Mendoza, Argentina📍</p>
                <br>
                <button class="big-button">
                    <a href="https://www.dropbox.com/s/q8lpuxhaqeu4wfn/Elvis%20Enrique%20Finol%20Arrieta%20-%20Resum%C3%A9.pdf?dl=0" target="_blank">Descargar Resumé</a>
                </button>
            </div>
        </div>
        <br>


        <span>{{- .subtitle | markdownify -}}</span>
        
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        
        


        <!-- <div class="buttons">
            {{- range . -}}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end -}}
        </div> -->
        {{- end }}
    </div>
    {{- end}}
</div>
